<h4 class="ui center aligned medium icon header">
  <i class="paper plane icon orange"></i>
  say somthing
</h4>

<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui fluid raise card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu" style = "width: 100%;">
          <a class="active item online_users_header">
              <h4>Online Users</h4>
          </a>
          <div class="content">
            <div id="active_users" style = "margin-left:25px; padding-bottom:5px;">
              
            </div>
          </div>
          <a class="item">
            <h4>Friends</h4>
          </a>
          <div class="content">
            <div class="ui list" style = "margin-left:25px; padding-bottom:5px;">
              <div class="item">Apples</div>
              <div class="item">Pears</div>
              <div class="item">Oranges</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui fluid raise card chatbox">
      <div class="content" id="messages">
        <div class="ui  feed" id="message-container">
          <% if @messages %>
            <%= render @messages %>
          <% else %>
            <h5>there is no messages yet..</h5>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class="bordered inverted orange send icon"></i>'.html_safe %>
              <%= link_to ('<i class="sync small alternate orange icon" id= "online_users"></i>').html_safe, online_users_path() , remote: true %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
